html{
    height: 100%;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gray;
    text-align: center;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
span{
    color: red;
    font-style: italic;
}
header{
    font-size: 60px;
    /*background-color: black;*/
    height: 80px;
}
nav{
    font-size: 25px;
    /*background-color: red;*/
    height: 50px;
    padding-top: 40px;
}
.links a{
    color: black;
    padding-left: 25px;
    text-decoration: none;
    transition: 0.5s;
}
.links a:hover{
    color: red;
}
main{
    height: 200px;
    /*background-color: green;*/
    padding-top: 30px;
    font-size: 30px;
}
#about{
    font-size: 50px;
}